<%# ヘッダーナビ %>
<%= render "shared/navbar" %>
<div class="container post">
  <div class="row">
    <% if @posts.length > 0 %>
      <% @posts.each do |post| %>
        <div class="col-md-4 col-sm-6">
          <div class="card bg-muted mb-3">
            <%= image_tag post.image, class: "card-img-top" %>
            <div class="card-body">
              <%= link_to post.user.nickname, user_path(post.user_id) %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <h3>まだ投稿されていません</h3>
    <% end %>
  </div>
</div>