<%# ヘッダーナビ %>
<%= render "shared/navbar" %>

<div class="container mt-5">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4 pt-3">
        <div class="card post">
        <%= link_to post_path(post.id) do %>
            <div class="card-body">
              <%= image_tag post.image, class: "post-img" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>