// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-img {
  width: 33vh;
  height: 33vh;
}

.post {
  margin-top: 70px;

  h2 {
    text-align: center;
    margin: 10px 0 30px;
  }

  .members {
    display: flex;
    flex-direction: column;
  }
}
