// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

// 一覧ページ
.post-img {
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.post {
  margin-top: 100px;

  h2 {
    text-align: center;
    margin: 10px 0 30px;
  }
}

// 詳細ページ
.show-img {
  width: 100%;
  height: auto;
}

.show-post {
  margin-top: 100px;
}

.member-list {
  ul {
    padding: 0;
    height: 100px;
  }
  li {
    font-size: 13px;
  }
}

.comment-list {
  height: 180px;
  margin-bottom: 20px;
}