body {
  background-color: #f2f2f2;
}

.login, .signup {
  margin-top: 100px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  h1 {
    text-align: center;
    margin: 10px 0 30px;
    font-family: 'Dancing Script', cursive;
  }

  h2 {
    text-align: center;
    margin: 10px 0 30px;
  }

  .button {
    margin-top: 1em;
  }

  .login_reminder, .signup_reminder {
    text-align: center;
    margin-top: .5em;
    font-size: .8em;
  }
}


