// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-area {
  background-color: white;
  margin-top: 100px;
  height: 300px;

}


.user-posts {
  margin-top: 70px;

  .post-img {
    width: 100%;
    height: auto;
  }
}